
/*--------------------------------------*/
/*--------------------------------------*/
/*-------------------Nav----------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/


#nav_container{
  top: 0;
  z-index: 100;
  overflow:auto;
  position: fixed;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: white;
}

a {
    text-decoration: none;
}

.list li {
  display: inline-block;
}
.list a:hover {
  color:pink;
}
.list a:visited {
  color:Black;
}
.list a:active {
  color:red;
}
.list a:link {
  color:Black;
}

.liElement{
  letter-spacing: 2px;
  padding-left:4%;

}



/*--------------------------------------*/
/*--------------------------------------*/
/*----------------Content---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/



body{
  background:  url(../assets/media/1920x1080/Websitehome.png);
  background-position: center no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#content{
  overflow-x: hidden;
  overflow:auto;
  display: block;
  position: relative;
  padding: 20px 20px 20px 20px;
  height: 80%;
  margin-top: 8%;
}

#japi{
  position: relative;
  display: block;
  overflow:auto;
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
}


#w {
  position: relative;
  background:  url(../assets/media/1920x1080/scroll.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size:118%;
margin-right: 17%;
margin-left: 21%;
  height: 100%;
  margin-bottom: 50%;
}


/*--------------------------------------*/
/*--------------------------------------*/
/*----------------LIVE------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/



#Post_title{
  position: relative;
  display: block;
  overflow:auto;
  margin-left: 28.5%;
  font-size: 18px;
}


.Post-button{
  margin-left: 40%;
}
.Post-container{
  overflow:auto;
  position: relative;
  min-height: 590px;
  max-height: 650px;

}

#Live{
  overflow:auto;
  margin-bottom: 40%;
}

.Vlog{
  position: relative;
  overflow:hidden;
  margin-left: 25%;
  margin-right: 20%;
}
.Text{
  position: relative;
  overflow:hidden;
  margin-left: 16%;
  margin-right: 20%;
}

.Music{
  position: relative;
  overflow:hidden;
  margin-left: 33%;
}

.Photo{
  position: relative;
  overflow:hidden;
  margin-left: 33%;
}

#may13_2017_post_1{
  padding-bottom: 30px;
  overflow:auto;
  position: relative;
  margin-left: 25%;
  margin-right: 19.55%;
  height: 50%;
  width: 50%;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*---------------Timeline---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.archive-years{
  position: relative;
  margin-right: 40px;
}
.archive-months-container{
  position: relative;
  margin-right: 40px;
}
.archive-days-container{
  position: relative;
  margin-right: 40px;
}

.day_box{
  vertical-align: middle;
  display: inline-block;
  height:3px;
  width: 14px;
  background-color: grey;
}

.selected_box{
  vertical-align: middle;
  display: inline-block;
  height:3px;
  width: 30px;
  background-color: pink;

}


.timeline{


position: absolute;
font-size: x-small;
width: 250px;
z-index: 10;
}


.noclick{
  opacity: 0.5;
  cursor: not-allowed;
  /*border: 3px solid pink;*/
  pointer-events:none

}

.Onclick{
/*border: 3px solid orange;*/
cursor: pointer;
}
.Onclick:hover{
  opacity: 1;
}

.previous{
position: absolute;
z-index: 12;
margin-top: 55%;
margin-left: 75%;
opacity: 0.5;
}

.next{

/*border: 3px solid orange;*/
position: absolute;
z-index: 10;
margin-top: 60%;
margin-left: 79%;
opacity: 0.5;
}

.selected_date{
  background:  url(../assets/media/1920x1080/timeline.png);
  background-repeat: no-repeat;
  background-size:111%;
  position: relative;
  overflow:hidden;
  color: white;
  height: 50px;
  text-align: center;

}

/*--------------------------------------*/
/*--------------------------------------*/
/*----------------Borders---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------






#Live{border: 3px solid pink;}

#w{border: 3px solid green;}

#japi{border: 3px solid yellow;}

#content{border: 3px solid red;}

#nav_container{border: 3px solid brown;}

.list li {border: 3px solid brown;}

.Post-container{border: 3px solid red;}

.timeline{border: 3px solid green;}

.Vlog{border: 3px solid green;}

.Post_title{border: 3px solid green;}

*/
