/*--------------------------------------*/
/*--------------------------------------*/
/*----------------Content---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/



body{
  background:  url(../assets/media/1920x1080/Websitehome.png);
  background-position: center no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#content{
  overflow-x: hidden;
  overflow:auto;
  position: relative;
  padding: 20px 20px 20px 20px;
  height: 80%;
  margin-top: 8%;
}

#japi{
  position: relative;
  display: block;
  overflow:auto;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}


#w {
  position: relative;
  background:  url(../assets/media/1920x1080/scroll.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  margin-right: 17%;
  margin-left: 21%;
  height: 100%;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*----------------NAV-------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.title_click{
  color:#8E5B70;
}

.navigation{
    list-style:none;
    margin:0;
    padding-right:35px;
    text-align:center;
    text-decoration:  none;

    /*border: 3px solid yellow;*/
}
.navigation li{
    padding:30px;
    display:inline-block;
    list-style: none;
    text-decoration:none;
}
.navigation li a{
    display:inline-block;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
/*--------------------------------------*/
/*----------------CODE------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

#Gimbal1{
  border: 3px solid orange;
}
#Gimbal3{
  width:150px;
}
#Code{

}
/*--------------------------------------*/
/*--------------WELCOME-----------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.col-centered{
    margin-left: 34%;
}

.Intro{
  color:white;
}

.Intro2{
  color:red;
}


/*---------------------------.navigation li:hover{
  list-style:none;
  text-decoration: none;
}
color: #377bb5;-----------*/
/*--------------------------------------*/
/*----------------LIVE------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.left-control{
  max-width: 100%;
  max-height: 100%;
}
.right-control{
max-width: 100%;
max-height: 100%;
}

.carousel-inner{
 vertical-align:middle;
}

.carousel-control {
background: none;
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}
.Gallery{
  /*border: 3px solid yellow;*/
  overflow: hidden;
  margin:0 auto;
  margin-top: 10px;
  max-width: 230px;
  max-height: 300px;
  margin-bottom: 5px;

}

#Post_title{
  width: 100%;
  text-align:center;
  position: relative;
  overflow:auto;
  font-size: 18px;
}


.Post-button{
  margin-left: 40%;
}
.Post-container{
  padding-bottom: 5px;
  margin: 0 auto;
  overflow:auto;
  position: relative;
  min-height: 590px;
  max-height: 755px;
}

#Live{
  overflow:auto;
  margin-bottom: 40%;
  overflow-x: hidden;
  min-height: 790px;
}
.Vlog_Large{
  position: relative;
  overflow:hidden;
  margin: 0 auto;
  max-width: 60%;
}
.Vlog{
  position: relative;
  overflow:hidden;
  margin: 0 auto;
  max-width: 40%;
}
.Text{
  position: relative;
  overflow:hidden;
  margin-left: 16%;
  margin-right: 20%;
}

.Music{
  position: relative;
  overflow:hidden;
  margin-left: 33%;
  margin: 0 auto;
  max-width: 30%;
  max-height: 30%;
}

.Photo{
  position: relative;
  overflow:hidden;
  margin-left: 33%;
}
.Instagram{
  margin: 0 auto;
  width: 25%;
  height: 1%;
}

#may13_2017_post_1{
  padding-bottom: 30px;
  overflow:auto;
  position: relative;
  margin-left: 25%;
  margin-right: 19.55%;
  height: 50%;
  width: 50%;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*---------------Timeline---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
ul{
  text-decoration: none;
  list-style: none;
}

a:link    {
  color: #377bb5;
text-decoration: none;
list-style: none;

  }
a:visited {
  color: #377bb5;
text-decoration: none;
list-style: none;

  }
a:hover   {
  color: #377bb5;
text-decoration: none;
list-style: none;

  }
a:active  {
  color: #377bb5;
text-decoration: none;
list-style: none;

  }

.hidden{
display: none;
}


.day_box{
  vertical-align: middle;
  display: inline-block;
  height:3px;
  width: 14px;
  background-color: grey;
}

.selected_box{
  vertical-align: middle;
  display: inline-block;
  height:3px;
  width: 30px;
  background-color: #8E5B70;

}
.selected_text:hover {
  color: #8E5B70;
}
.selected_text {
  color: #8E5B70;
}



.timeline{
position: absolute;
font-size: x-small;
width: 250px;
z-index: 10;
}


.noclick{
  opacity: 0.5;
  cursor: not-allowed;

  pointer-events:none

}

.Onclick{
/*border: 3px solid orange;*/
cursor: pointer;
}
.Onclick:hover{
  opacity: 1;
}

.previous{
position: absolute;
z-index: 12;
margin-top: 55%;
margin-left: 75%;
opacity: 0.5;
}

.next{

/*border: 3px solid orange;*/
position: absolute;
z-index: 10;
margin-top: 60%;
margin-left: 79%;
opacity: 0.5;
}

.selected_date_wrapper{
  background:  url(../assets/media/1920x1080/timeline.png);
  background-repeat: no-repeat;
  background-size:100%;
}
.selected_date{
  font-weight: bold;
  position: relative;
  overflow:hidden;
  color: white;
  vertical-align: middle;
  height: 40px;
  font-size: 20px;
  text-align: center;
  transform: perspective(50em) rotateX(50deg);
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------MEDIA QUERIES KEYFRAME--------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .archive-years{
    text-decoration: none;

    font-weight: bold;
    font-size: 20px;
  }



  #Post_title{
    font-weight: bold;
    font-size: 23px;
  }

  .timeline{
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  width: 300px;
  z-index: 10;
  margin-left: -150px;
  }


  #day_style{
    padding-right: 0px;
    padding-left: 10px;
    margin-right:0px;
  }
  #month_style{
    padding-left: 20px;
    padding-right: 0px;
    list-style: none;



  }
  #year_style{
    padding-left: 0px;
    padding-right: 0px;

  }


  .Post-container{
  max-height: 100%;
  }
    .timeline{
    position: absolute;
    font-size: 18px;
    width: 200px;
    z-index: 10;
    margin-left: 0px;
    }

    .Vlog{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 70%;
    }
    .Vlog_Large{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 50%;
    }
    .Gallery{
      overflow: hidden;
      margin:0 auto;
      margin-top: 20px;
      max-width: 400px;
      max-height: 900px;
      margin-bottom: 20px;

    }
    .Music{
      position: relative;
      overflow:hidden;
      margin-left: 33%;
      margin-top: 10px;
      margin: 0 auto;
      max-width: 40%;
    }
    .selected_date{
      vertical-align: top;
      line-height: 40px;
      font-size: 40px;
    }
    .selected_date_wrapper{
      margin-top: 10px;
      background:  url(../assets/media/1920x1080/timeline.png);
      background-repeat: no-repeat;
      background-size:100%;
      height:70px;
    }

    .previous > img{
    }
    .next > img{
    }
    .previous{
    position: absolute;
    z-index: 12;
    margin-top: 95px;
    margin-left: 80%;
    opacity: 0.5;
    }

    .next{
    position: absolute;
    z-index: 10;
    margin-top: 123px;
    margin-left: 81%;
    opacity: 0.5;
    }
    .selected_box{
      vertical-align: middle;
      display: inline-block;
      height:3px;
      width: 20px;
      background-color: #8E5B70;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .archive-years{
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }

    #Post_title{
      font-weight: bold;
      font-size: 23px;
    }

    .timeline{
    margin-left: -125px;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    width: 310px;
    z-index: 10;
    }

    #day_style{
      padding-right: 0px;
      padding-left: 10px;
      margin-right:0px;
    }
    #month_style{
      padding-left: 15px;
      padding-right: 0px;
      list-style: none;


    }
    #year_style{
      padding-left: 145px;
      padding-right: 0px;

    }
}


/* the viewport is more than 1024 pixels wide*/
@media screen and (min-width: 800px) and (max-width: 1024px){

  .archive-years{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }


  #Post_title{
    font-weight: bold;
    font-size: 18px;
  }

  .timeline{

    margin-top: 50px;
    overflow: hidden;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  width: 310px;
  max-height: 550px;
  z-index: 10;
  margin-left: -170px;
  }


  #day_style{
    padding-right: 0px;
    padding-left: 10px;
    margin-right:0px;
  }
  #month_style{
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;

  }
  #year_style{
    padding-left: 165px;
    padding-right: 0px;

  }
  .selected_date_wrapper{
    vertical-align: middle;
    line-height: 15px;

  }
  .Vlog{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 40%;
  }
  .Vlog_Large{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 55%;
  }
  .Gallery{
    overflow: hidden;
    margin:0 auto;
    margin-top: 20px;
    max-width: 200px;
    max-height: 300px;
    margin-bottom: 20px;

  }
  .Music{
    position: relative;
    overflow:hidden;
    margin-left: 33%;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 35%;
  }

}
/* the viewport is more than 768 pixels wide less than 1023*/
@media screen and (min-width: 768px) and (max-width: 799px) {
  .archive-years{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }



    #Home{
      margin-bottom: 40px;
    }

    #Live{
      overflow: visible;
      min-height:0px;
    }
    #content{
      overflow:visible;
    }
    body{
      background:  url(../assets/media/mobile/Websitehome.jpg);
      background-position: center no-repeat;
      background-size: 100%;
      background-attachment: fixed;
    }
    #w {
    background:  url(../assets/media/mobile/scroll.jpg);
    background-size:100%;
    background-position-y: 405px;
    margin-bottom: 383px;
    }
    .timeline{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    width: 250px;
    z-index: 10;
    margin-left: -155px;
    }
    .Vlog{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 70%;
    }
    .Vlog_Large{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 80%;
    }
    .Gallery{
      overflow: hidden;
      margin:0 auto;
      margin-top: 20px;
      max-width: 200px;
      max-height: 300px;
      margin-bottom: 20px;

    }
    .Music{
      position: relative;
      overflow:hidden;
      margin-left: 33%;
      margin-top: 10px;
      margin: 0 auto;
      max-width: 40%;
    }
    .selected_date_wrapper{
      margin-top: 0px;
      background:  url(../assets/media/1920x1080/timeline.png);
      background-repeat: no-repeat;
      background-size:100%;
    }
    .selected_date{
      line-height: 18px;
      font-size: 16px;
    }

    .previous > img{
      max-width: 200px;
    }
    .next > img{
      max-width: 115px;
    }
    .previous{
    position: absolute;
    z-index: 12;
    margin-top: 95px;
    margin-left: 101%;
    opacity: 0.5;
    }

    .next{
    position: absolute;
    z-index: 10;
    margin-top: 123px;
    margin-left: 105%;
    opacity: 0.5;
    }
    .selected_box{
      vertical-align: middle;
      display: inline-block;
      height:3px;
      width: 20px;
      background-color: #8E5B70;
    }
    #day_style{
      padding-right: 0px;
      padding-left: 15px;
      margin-right:110px;
    }
    #month_style{
      padding-left: 25px;
      list-style: none;


    }
    #year_style{
      padding-left: 10px;

    }



}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .archive-years{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }


    #Live{
      overflow: visible;
      min-height:0px;
    }
    #content{
      overflow:visible;
    }
    body{
      background:  url(../assets/media/mobile/Websitehome.jpg);
      background-position: center no-repeat;
      background-size: 100%;
      background-attachment: fixed;
    }
    #w {
    background:  url(../assets/media/mobile/scroll.jpg);
    background-size:100%;
    }
    .timeline{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    width: 250px;
    z-index: 10;
    margin-left: -155px;
    }
    .Vlog{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 70%;
    }
    .Vlog_Large{
      position: relative;
      overflow:hidden;
      margin: 0 auto;
      max-width: 80%;
    }
    .Gallery{
      overflow: hidden;
      margin:0 auto;
      margin-top: 20px;
      max-width: 200px;
      max-height: 300px;
      margin-bottom: 20px;

    }
    .Music{
      position: relative;
      overflow:hidden;
      margin-left: 33%;
      margin-top: 10px;
      margin: 0 auto;
      max-width: 40%;
    }
    .selected_date_wrapper{
      margin-top: 0px;
      background:  url(../assets/media/1920x1080/timeline.png);
      background-repeat: no-repeat;
      background-size:100%;
    }
    .selected_date{
      line-height: 18px;
      font-size: 16px;
    }

    .previous > img{
      max-width: 200px;
    }
    .next > img{
      max-width: 115px;
    }
    .previous{
    position: absolute;
    z-index: 12;
    margin-top: 95px;
    margin-left: 101%;
    opacity: 0.5;
    }

    .next{
    position: absolute;
    z-index: 10;
    margin-top: 123px;
    margin-left: 105%;
    opacity: 0.5;
    }
    .selected_box{
      vertical-align: middle;
      display: inline-block;
      height:3px;
      width: 20px;
      background-color: #8E5B70;
    }
    #day_style{
      padding-right: 0px;
      padding-left: 15px;
      margin-right:110px;
    }
    #month_style{
      padding-left: 25px;
      list-style: none;


    }
    #year_style{
      padding-left: 10px;

    }


}



/* the viewport is more than 414 pixels wide less than 424 IPHONE 6S PLUS*/
@media screen and (min-width: 414px) and (max-width: 425px) {
  .archive-years{
    text-decoration: none;

    font-weight: bold;
  }



  #Live{
    overflow: visible;
    min-height:0px;
  }
  #content{
    overflow:visible;
  }
  body{
    background:  url(../assets/media/mobile/Websitehome.jpg);
    background-position: center no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  #w {
  background:  url(../assets/media/mobile/scroll.jpg);
  background-size:100%;

  }
  .timeline{
  font-weight: bold;
  position: absolute;
  font-size: x-small;
  width: 135px;
  z-index: 10;
  margin-left: -105px;
  }
  .Vlog{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 80%;
  }
  .Vlog_Large{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 100%;
  }
  .Gallery{
    overflow: hidden;
    margin:0 auto;
    margin-top: 20px;
    max-width: 150px;
    max-height: 300px;
    margin-bottom: 20px;

  }
  .Music{
    position: relative;
    overflow:hidden;
    margin-left: 33%;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    max-height: 50%;
  }
  .selected_date_wrapper{
    margin-top: -90px;
    background:  url(../assets/media/1920x1080/timeline.png);
    background-repeat: no-repeat;
    background-size:100%;
  }
  .previous > img{
    max-width: 40px;
  }
  .next > img{
    max-width: 55px;
  }
  .previous{
  position: absolute;
  z-index: 12;
  margin-top: 95px;
  margin-left: 92%;
  opacity: 0.5;
  }

  .next{
  position: absolute;
  z-index: 10;
  margin-top: 115px;
  margin-left: 96%;
  opacity: 0.5;
  }
  .selected_box{
    vertical-align: middle;
    display: inline-block;
    height:3px;
    width: 20px;
    background-color: #8E5B70;
  }
  #day_style{
    padding-right: 0px;
    padding-left: 15px;
    margin-right:0px;
  }
  #month_style{
    padding-left: 15px;
    padding-right: 0;
  }
  #year_style{
    padding-left: 0px;
  }



}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .archive-years{
    text-decoration: none;

    font-weight: bold;
  }



  #Live{
    overflow: visible;
    min-height:0px;
  }
  #content{
    overflow:visible;
  }
  body{
    background:  url(../assets/media/mobile/Websitehome.jpg);
    background-position: center no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  #w {
  background:  url(../assets/media/mobile/scroll.jpg);
  background-size:100%;
  /*background-position-y: 434px;
  margin-bottom: 540px;*/

  }
  #Home{
    /*margin-bottom: 20px;*/
  }
  .timeline{
    font-weight: bold;
  position: absolute;
  font-size: x-small;
  width: 125px;
  z-index: 10;
  margin-left: -100px;
  }
  .Vlog{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 80%;
  }
  .Vlog_Large{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 100%;
  }
  .Gallery{
    overflow: hidden;
    margin:0 auto;
    margin-top: 20px;
    max-width: 150px;
    max-height: 300px;
    margin-bottom: 20px;

  }
  .Music{
    position: relative;
    overflow:hidden;
    margin-left: 33%;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    max-height: 50%;
  }
  .selected_date_wrapper{
    margin-top: -90px;
    background:  url(../assets/media/1920x1080/timeline.png);
    background-repeat: no-repeat;
    background-size:100%;
  }
  .previous > img{
    max-width: 40px;
  }
  .next > img{
    max-width: 55px;
  }
  .previous{
  position: absolute;
  z-index: 12;
  margin-top: 95px;
  margin-left: 92%;
  opacity: 0.5;
  }

  .next{
  position: absolute;
  z-index: 10;
  margin-top: 115px;
  margin-left: 96%;
  opacity: 0.5;
  }
  .selected_box{
    vertical-align: middle;
    display: inline-block;
    height:3px;
    width: 20px;
    background-color: #8E5B70;
  }

  #day_style{
    padding-right: 0px;
    padding-left: 5px;
    margin-right:0px;
  }
  #month_style{
    padding-left: 10px;
    padding-right: 0;
    list-style: none;

  }
  #year_style{
    padding-left: 0px;
  }


}


@media screen and (min-width: 320px) and (max-width: 374px) {
  .archive-years{
    text-decoration: none;

    font-weight: bold;
  }

  #Live{
    overflow: visible;
    min-height:0px;
  }
  #content{
    overflow:visible;
  }
  body{
    background:  url(../assets/media/mobile/Websitehome.jpg);
    background-position: center no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  #w {
  background:  url(../assets/media/mobile/scroll.jpg);
  background-size:100%;
  }
  .timeline{
    font-weight: bold;
  position: absolute;
  font-size: x-small;
  width: 130px;
  z-index: 10;
  margin-left: -95px;
  }
  .Vlog{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 100%;
  }
  .Vlog_Large{
    position: relative;
    overflow:hidden;
    margin: 0 auto;
    max-width: 100%;
  }
  .Gallery{
    overflow: hidden;
    margin:0 auto;
    margin-top: 20px;
    max-width: 130px;
    max-height: 300px;
    margin-bottom: 20px;

  }
  .Music{
    position: relative;
    overflow:hidden;
    margin-left: 33%;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 90%;

  }

  .selected_date_wrapper{
    margin-top: -90px;
    background:  url(../assets/media/1920x1080/timeline.png);
    background-repeat: no-repeat;
    background-size:100%;
  }
  .previous > img{
    max-width: 30px;
  }
  .next > img{
    max-width: 40px;
  }
  .previous{
  position: absolute;
  z-index: 12;
  margin-top: 98px;
  margin-left: 92%;
  opacity: 0.5;
  }

  .next{
  position: absolute;
  z-index: 10;
  margin-top: 115px;
  margin-left: 96%;
  opacity: 0.5;
  }

  .selected_box{
    vertical-align: middle;
    display: inline-block;
    height:3px;
    width: 20px;
    background-color: #8E5B70;
  }
  #day_style{
    padding-right: 0px;
    padding-left: 5px;
    margin-right:0px;
  }
  #month_style{
    padding-left: 10px;
    padding-right: 0;
    list-style: none;

  }
  #year_style{
    padding-left: 0px;
  }

}



/*--------------------------------------*/
/*--------------------------------------*/
/*----------------Borders---------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------






#Live{border: 3px solid pink;}

#w{border: 3px solid green;}

#japi{border: 3px solid yellow;}

#content{border: 3px solid red;}

#nav_container{border: 3px solid brown;}

.list li {border: 3px solid brown;}

.Post-container{border: 3px solid red;}

.timeline{border: 3px solid green;}

.Vlog{border: 3px solid green;}
.still{border: 3px solid yellow;}
.Music{border: 3px solid red;}


.Post_title{border: 3px solid green;}
*/
